.blur-image-placeholder {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: clip;
}

.blur-image-placeholder > img {
    opacity: 0;
}

.blur-image-placeholder > img.loaded {
    opacity: 100 !important;
}
